 * {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
 }

 html {
     font-size: 62.5%;
     max-width: 1440px;
     margin: auto;
     background-color: rgb(235, 236, 234);
 }

main {
    background-color: white;
    padding-bottom: 150px;
}

.main-container {
    position: relative;

    .img-bg-middle {
        position: absolute;
        top: 26%;
    }

}

.img-mobile {
    display: none;
}


